<div class="crop">
    <img class="img-banner" [src]="urlBannerNosotros">
</div>
<div class="cuerpo">
    <h2>Zapatería Calzado Alemán</h2>
    <div class="nosotros">
        <p class="info">
            Se realiza cualquier tipo trabajo en cuero , composturas a cualquier tipo de zapatos, multimarca, se agranda
            y se achica zapatos de cualquier material además se hace cualquier tipo de arreglos de carteras y mochilas.
            <br>
            <br>
            Contamos con maquinaria Alemana para proporcionarles un servicio más completo.
        </p>
        <img class="img-nosotros" [src]="urlImagenNosotros">
    </div>
    <h3>Ubicación</h3>
    <div class="nosotros">
        <iframe class="ubicacion"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1350.8034436584483!2d-78.47723890310189!3d-0.15604931029401484!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59b10f95ff823%3A0xa0847f11aec4fada!2sZapateria%20Calzado%20Aleman!5e0!3m2!1ses-419!2sec!4v1601073551376!5m2!1ses-419!2sec"
            width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
            tabindex="0">
        </iframe>
        <p class="info">
            EL INCA <br>
            6 de Diciembre, y, Quito <br>
            Horario de Atencion: <br>
            Lunes a Viernes: 7:00 - 20:00 <br>
            Domingo: 8:00 - 16:00 <br>
            Teléfono: 098 141 9531 <br>
        </p>
    </div>
</div>